@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');;

body {
    font-family: "EB Garamond", serif;
}

.image-profile {
    width: 250px; 
    height: auto; 
    border-radius: 15%; 

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}


